<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="post" name="admindash">
  <div align="center">
    <table width="343" height="537" border="1">
      <tr>
        <td width="208"><a href="{% url 'test_management' %}">Test management</a></td>
      </tr>
      <tr>
        <td><input name="test" type="button" id="home info" value="Home information" /></td>
      </tr>
      <tr>
        <td width="208"><a href="{% url 'slot_management' %}">Slot management</a></td>
      </tr>
      <tr>
        <td><input name="test" type="button" id="book" value="Bookings" /></td>
      </tr>
      <tr>
        <td><input name="test" type="button" id="feedback" value="Feedback management" /></td>
      </tr>
      <tr>
        <td><input name="test" type="button" id="home" value="Home bookings" /></td>
      </tr>
      <tr>
        <td><input name="test" type="button" id="report" value="Business Report" /></td>
      </tr>
      <tr>
        <td width="208"><a href="{% url 'cat_management' %}">Category management</a></td>
      </tr>
      <tr>
        <td><input name="test" type="button" id="status" value="View status" /></td>
      </tr>
      <tr>
        <td><a href="{% url 'logout' %}">Logout</a></td>
      </tr>
  </table>
  </div>

</form>
</body>
</html>
