{% include "admin_header.html" %}

<form action="{% url 'slot' %}" method="post">
  {% csrf_token %}
<div align="right">

<!--    <div class="filters m-b-45">-->
<!--        <div class="rs-select2&#45;&#45;dark rs-select2&#45;&#45;md m-r-10 rs-select2&#45;&#45;border">-->



                     <select name="category" id="category"      class="ri-align-right">
                             {% for cat in catgry %}
                                  <option value="{{ cat.id }}"  {% if cat.id == caty.id %} selected  {% endif %}>{{ cat.name }}</option>
                             {% endfor %}
                      </select></div>

<!--    </div>-->
<!--</div>-->

  <input type="submit" name="addtest" id="addslot" value="Add New" class="btn btn-primary" />
 </form>
  <div class="row m-t-30">
                            <div class="col-md-12">
                                <!-- DATA TABLE-->
                                <div class="table-data3">



                            <table width="800" border="1"  class="table-primary">
                              <thead>
                               <tr>
                                <th width="50" height="57"><div align="center">Sl No</div></th>
                                <th width="50"><div align="center">Start</div></th>
                                <th width="50"><div align="center">AM/PM</div></th>
                                  <th hwidth="50"><div align="center">End</div></td>
                                <th width="50"><div align="center">AM/PM</div></th>
                                  <th width="50"><div align="center">Strength</div></th>
                            <!--    <td width="153"><div align="center">Status</div></td>-->
                                <th width="154"><div align="center">

                                </div></th>
                               </tr>
                              </thead>

                              <tbody id="tableData">

                              {% for s in slt %}
                               <tr class="tr-shadow"><td align="center">{{ forloop.counter }}</td>
                                <td align="center">{{ s.start }}</td>
                                <td align="center">{{ s.t1 }}</td>
                                <td align="center">{{ s.end }}</td>
                                <td align="center">{{ s.t2 }}</td>
                                   <td align="center">{{ s.strength }}</td>
                                 <td align="center"> <a  href="{% url 'updateslot' s.id %}">Edit</a>&nbsp;<a onclick="return confirm('Are you sure?')" href="{% url 'deleteslot' s.id %}">Delete</a></td>
                              </tr>

                      {% endfor %}
                              </tbody>
                        </table>
                     </div>

                </div>
            </div>



<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

<script type="text/javascript">

$(document).ready(function() {
        $("#category").change(function(){

            id = $('#category option:selected').val();

            let request_url = "{% url 'listcat2' %}";

           $.ajax(
            {
                type:"GET",
                datatype: 'json',
                url: request_url,
                data:{
                         cat_id: id
                },
                success: function( data )
                {
                    tableFromResponse(data);

                },

      errors: function (e) {

              }
     })

        })
    })

  function tableFromResponse(responseData) {

        var mainObj = JSON.parse(responseData.slotresult);

        var k = '<tbody>'

        for(i = 0;i < mainObj.length; i++){


            k+= '<tr>';
            k+= '<td align="center">'+ (i+1) +'</td>'
            k+= '<td align="center">' + mainObj[i]["fields"]["start"] + '</td>';
            k+= '<td align="center">' + mainObj[i]["fields"]["t1"] + '</td>';
            k+= '<td align="center">' + mainObj[i]["fields"]["end"] + '</td>';
            k+= '<td align="center">' + mainObj[i]["fields"]["t2"] + '</td>';
            k+= '<td align="center">' + mainObj[i]["fields"]["strength"] + '</td>';
            k+= '<td align="center"> <a  href="/updateslot/'+mainObj[i]["pk"]+'">Edit </a> <a onclick="return confirm(\'Are you sure?\')" href="/deleteslot/'+mainObj[i]["pk"]+'">Delete</a> ';



            k+= '</tr>';
        }
        k+='</tbody>';
        document.getElementById('tableData').innerHTML = k;
}

</script>

{% include "admin_footer.html" %}