<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
<!--<title>Untitled Document</title>-->
<!--<style type="text/css">-->
<!--/* The switch - the box around the slider */-->
<!--.switch {-->
<!--  position: relative;-->
<!--  display: inline-block;-->
<!--  width: 60px;-->
<!--  height: 34px;-->
<!--}-->

<!--/* Hide default HTML checkbox */-->
<!--.switch input {-->
<!--  opacity: 0;-->
<!--  width: 0;-->
<!--  height: 0;-->
<!--}-->

<!--/* The slider */-->
<!--.slider {-->
<!--  position: absolute;-->
<!--  cursor: pointer;-->
<!--  top: 0;-->
<!--  left: 0;-->
<!--  right: 0;-->
<!--  bottom: 0;-->
<!--  background-color: #ccc;-->
<!--  -webkit-transition: .4s;-->
<!--  transition: .4s;-->
<!--}-->

<!--.slider:before {-->
<!--  position: absolute;-->
<!--  content: "";-->
<!--  height: 26px;-->
<!--  width: 26px;-->
<!--  left: 4px;-->
<!--  bottom: 4px;-->
<!--  background-color: white;-->
<!--  -webkit-transition: .4s;-->
<!--  transition: .4s;-->
<!--}-->

<!--input:checked + .slider {-->
<!--  background-color: #2196F3;-->
<!--}-->

<!--input:focus + .slider {-->
<!--  box-shadow: 0 0 1px #2196F3;-->
<!--}-->

<!--input:checked + .slider:before {-->
<!--  -webkit-transform: translateX(26px);-->
<!--  -ms-transform: translateX(26px);-->
<!--  transform: translateX(26px);-->
<!--}-->

<!--/* Rounded sliders */-->
<!--.slider.round {-->
<!--  border-radius: 34px;-->
<!--}-->

<!--.slider.round:before {-->
<!--  border-radius: 50%;-->
<!--}-->
<!--</style>-->
<!--</head>-->

<!--<body>-->

{% include "admin_header.html" %}


<!-- demo -->



<div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">

                         <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-header">
                                        <strong>Edit Test details</strong>
                                    </div>
                                    <div class="card-body card-block">

                                      <form action="{% url 'getupdatedtestdata'  %}" method="post"  class="form-horizontal">
                                         {% csrf_token %}

                                        <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="test" class=" form-control-label">Test Name</label>
                                                </div>
                                                <div class="col-12 col-md-9">


                                                   <input type="text" name="test" id="test" value="{{ test.name }}" class="form-control" required />
                                                    <small class="form-text text-muted">This is a help text</small>
                                                </div>
                                            </div>

                                         <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="testdes" class=" form-control-label">Textarea</label>
                                                </div>
                                                <div class="col-12 col-md-9">




                                                  <textarea name="testdes" id="testdes" cols="45" rows="5" value="" class="form-control" required>{{ test.des }}</textarea>
                                                </div>
                                            </div>
                                        <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="price" class=" form-control-label">Price</label>
                                                </div>
                                                <div class="col-12 col-md-9">


                                                  <input type="text" name="price" id="price" value="{{ test.price }}" class="form-control" required />
                                                    <small class="form-text text-muted">This is a help text</small>
                                                </div>
                                            </div>


                                         <div class="row form-group">

                                                <div class="col-12 col-md-9">
                                                  <div class="card-body">
                                                 <label  for="chk1" class=" form-control-label">  Test current Availability</label>


                                                     <input type="checkbox" id="chk1"name="available"  {% if f1 == 1 %} checked="checked" {% endif %} value="true">
<!--                                                    <span class="switch-label"></span>-->
<!--                                                     <span class="switch-handle"></span>-->
                                                    <div>
                                                     <label  for="chk2" class=" form-control-label"> Home collection Availability </label>

                                                   <input type="checkbox"  id="chk2" name="home"  {% if f2 == 1 %} checked="checked" {% endif %} value="true">
                                                    </div>


                                                </div>
                                            </div>


<!--                                              <input type="checkbox" name="available" value="true" id="chk1" class="form-control" > Test Availability-->
<!--                                                    <small class="form-text text-muted">This is a help text</small>-->

<!--                                         <li class="list-group-item">-->
<!--                                          <div class="col col-md-3">-->
<!--                                                    <label for="chk2" class=" form-control-label">Home collection Availability</label>-->
<!--                                                </div>-->




<!--                                                    <small class="form-text text-muted">This is a help text</small>-->

                                                </div>

                                        <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="category" class=" form-control-label">Department</label>
                                                </div>
                                                <div class="col-12 col-md-9">



                                                  <select name="category" id="category"  class="form-control" required >
                                                   {% for cat in catgry %}
                                               <option value="{{ cat.id }}" {% if cat.id == test.category_id %} selected  {% endif %}>{{ cat.name }}</option>
                                                  {% endfor %}
                                                  </select>
                                                    <small class="form-text text-muted">This is a help text</small>
                                                </div>
                                            </div>

                                        <div>
                                    <div class="card-footer" align="center">

<!--                                      <input type="submit" name="updateprofile" id="updateprofile" value="Update" class="btn btn-primary btn-sm" />-->

                                      <input type="submit" name="addtest2" id="uptest" value="Update " class="btn btn-primary btn-sm" />



                                    </div>
                                </div>

                    </form>


                     </div>
        </div>

    </div>




<!-- demo end -->






<!--<form  action="{% url 'getupdatedtestdata'  %}" method="post">-->
<!--  {% csrf_token %}-->
<!--<div align="center">-->
<!--  <table width="504" border="1">-->
<!--    <tr>-->
<!--      <td width="172" height="53"><div align="center">Name</div></td>-->
<!--      <td width="316"><label for="test"></label>-->
<!--        <div align="center">-->
<!--          <input type="text" name="test" id="test" value="{{ test.name }}" required />-->
<!--        </div></td>-->
<!--      </tr>-->
<!--    <tr>-->
<!--      <td><div align="center">Description</div></td>-->
<!--      <td><label for="testdes"></label>-->
<!--        <div align="center">-->
<!--          <textarea name="testdes" id="testdes" cols="45" rows="5" value="" required>{{ test.des }}</textarea>-->
<!--        </div></td>-->
<!--      </tr>-->
<!--    <tr>-->
<!--      <td height="49"><div align="center">Price</div></td>-->
<!--      <td><label for="price"></label><div align="center">-->
<!--        <input type="text" name="price" id="price" value="{{ test.price }}" required /></div></td>-->
<!--      </tr>-->
<!--    <tr><div align="center">-->
<!--      <td height="61" colspan="2">Available Now :</div> &lt;!&ndash; Rounded switch &ndash;&gt;-->
<!--<label class="switch">-->
<!--  <div align="center">-->
<!--    <input type="checkbox" name="available"  {% if f1 == 1 %} checked="checked" {% endif %} value="true">-->
<!--    <span class="slider round"></span>-->
<!--  </div>-->
<!--</label>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Home collection : <label class="switch">-->
<!--  <div align="center">-->
<!--    <input type="checkbox" name="home"  {% if f2 == 1 %} checked="checked" {% endif %} value="true">-->
<!--    <span class="slider round"></span>-->
<!--  </div>-->
<!--</label></td>-->
<!--      </tr>-->
<!--    <tr>-->
<!--      <td height="55"><div align="center">Category</div></td>-->
<!--      <td><label for="category"></label>-->
<!--        <div align="center">-->
<!--          <select name="category" id="category" required >-->
<!--            {% for cat in catgry %}-->
<!--            <option value="{{ cat.id }}" {% if cat.id == test.category_id %} selected  {% endif %}>{{ cat.name }}</option>-->
<!--           {% endfor %}-->
<!--          </select>-->
<!--        </div></td>-->
<!--      </tr>-->
<!--    <tr>-->
<!--      <td height="46" colspan="2"><div align="center">-->
<!--        <input type="submit" name="addtest2" id="uptest" value="Update " />-->
<!--      </div></td>-->
<!--      </tr>-->
<!--  </table>-->
<!--</div>-->
<!--<div align="center"></div>-->
<!--<div align="center"></div>-->

<!--</form>-->


{% include "admin_footer.html" %}
