<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="{% url 'book3'  %}" method="post">
  {% csrf_token %}
  <div align="center">
    <table width="407" height="293" border="1">
      
      <tr>
        <td height="154"><div align="center">Slot</div></td>
        <td><div align="center">
          <label for="slot"></label>
          <select name="slot" id="slot">
            {% for i in s %}
            <option value="{{ i.id }}"> {{ i.time }}</option>
            {% endfor %}

          </select>
        </div></td>
      </tr>
      <tr>
        <td colspan="2">          <div align="center">
            <input type="submit" name="next" id="next" value=" proceed" />
        </div></td>
      </tr>
  </table>
  </div>

</form>
</body>
</html>
