<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body align=""center>
<form action="" method="get">
<div align="center">
  <table width="679" height="537" border="1">
    <tr>
      <td width="226"><div align="center">Patient Name</div></td>
      <td colspan="2"><div align="center">{{ pat.pname }}</div></td>
      </tr>
    <tr>
    <tr>
      <td width="226"><div align="center">Date</div></td>
      <td colspan="2"><div align="center">{{ bkdate.date }} </div></td>
      </tr>
    <tr>
      <td><div align="center">Slot</div></td>
      <td colspan="2"><div align="center"> {{ bkslot.start }} {{ bkslot.t1 }} - {{ bkslot.end }} {{ bkslot.t2 }}  </div></td>
      </tr>
<!--    <tr>-->
<!--      <td><div align="center">Token</div></td>-->
<!--      <td colspan="2"><div align="center"></div></td>-->
<!--      </tr>-->



      {% for i in testdata %}
    {% for x in listoftests %}


      {% if x.tests_id == i.id %}
    <tr><td><div align="center">Test {{ forloop.counter }}</div></td>
      <td width="210"><div align="center"> {{ i.name }}</div></td>
<!--      <td width="221"><div align="center"><a href="" >Remove item</a></div></td>-->



      </tr>
     {% endif %}
    {% endfor %}
    {% endfor %}

    <tr>
      <td><div align="center">Total Amount</div></td>
      <td colspan="2"><div align="center">{{ sum }}</div></td>
      </tr>
    <tr>
      <td colspan="3"><div align="center">
        <input type="submit" name="payment" id="payment" value="Proceed to Payment" />
      </div></td>
      </tr>
  </table>
</div>
<div align="center"></div>
<div align="center"></div>


</form>
</body>
</html>
