<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>

<form action="" method="post" name="booking2">
  <div align="center">
    <table width="457" height="232" border="1">
      <tr>
        <td width="109" height="101"><div align="center">Test</div></td>
        <td width="143"><div align="center">
          <label for="tests"></label>
          <select name="tests" id="tests">
          </select>
        </div></td>
      </tr>
      <tr>
        <td height="76" colspan="2"><div align="center">
          <input type="submit" name="next" id="next" value="Next" />
        </div></td>
      </tr>
  </table>
  </div>

</form>
</body>
</html>
