<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="post" name="reg">
     {% csrf_token %}
    <p id="{{ uid.id }}">{{ uid.id }}</p>
  <div align="center">
    <table width="91" border="1">
      <tr>
        <td height="63"><a href="">Profile</a> </td>
      </tr>
      <tr>
        <td height="72"><a href="{% url 'viewmember' uid.id %}">Member management</a> </td>
      </tr>
      <tr>
      <tr>
        <td height="72"><a href="{% url 'testview' %}">Tests</a> </td>
      </tr>
      <tr>
        <td height="98"><a href="{% url 'book1' uid.id %}">Book appointment</a> </td>
      </tr>
      <tr>
        <td height="80"><a href="">Book home collection</a> </td>
      </tr>
      <tr>
        <td height="139"><a href="">Booking history</a> </td>
      </tr>
      <tr>
        <td height="89"><a href="">Queries/Feedbacks</a> </td>
      </tr>
      <tr>
        <td height="84"><a href="{% url 'logout' %}">Logout</a> </td>
      </tr>
  </table>
  </div>

</form>
</body>
</html>
