{% extends 'index3.html' %}

<body>
{% block content %}
<br><br><br>
<form action="{% url 'addmember' %}" method="post">
                   {% csrf_token %}
  <div align="center">
  <input name="" type="submit" id="addnew" value="Add member" />
    <table width="526" height="170" border="1">
      <tr>
        <th>Name</th>
        <th>Age </th>
        
        <th>Place</th>
        <th>Phone</th>
          <th></th>
      </tr>
      {% for p in member %}
      <tr>
        <td><div align="center">{{ p.pname }}</div></td>
        <td><div align="center">{{ p.age }}</div></td>
      
        <td><div align="center">{{ p.place }}</div></td>
        <td><div align="center">{{ p.phone }}</div></td>
          <td><div align="center"><a href="{% url 'deletemember' p.id %}">Remove member</a></div></td>
      </tr>
       {% endfor %}
  </table>
  </div>

</form>

</body>
{% endblock %}
<!--</html>-->
