<!--<!DOCTYPE html>-->
<!--&lt;!&ndash; Coding by CodingLab | www.codinglabweb.com&ndash;&gt;-->
<!--<html lang="en">-->
<!--  <head>-->
<!--    <meta charset="UTF-8" />-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge" />-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
<!--    &lt;!&ndash;<title>Sidebar Menu | Side Navigation Bar</title>&ndash;&gt;-->
<!--    &lt;!&ndash; CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="css/style.css" />-->
<!--    &lt;!&ndash; Boxicons CSS &ndash;&gt;-->
<!--    <link-->
<!--      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"-->
<!--      rel="stylesheet"-->
<!--    />-->
<!--      <style>-->
<!--          /* Google Fonts - Poppins */-->
<!--@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");-->

<!--* {-->
<!--  margin: 0;-->
<!--  padding: 0;-->
<!--  box-sizing: border-box;-->
<!--  font-family: "Poppins", sans-serif;-->
<!--}-->
<!--body {-->
<!--  min-height: 100%;-->
<!--  /*background: #e3f2fd;*/-->
<!--    background: #FFFFFF;-->
<!--}-->
<!--nav {-->
<!--  position: fixed;-->
<!--  top: 0;-->
<!--  left: 0;-->
<!--  height: 70px;-->
<!--  width: 100%;-->
<!--  display: flex;-->
<!--  align-items: center;-->
<!--  /*background: #fff;*/-->
<!--    background: #34568B;-->

<!--  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);-->
<!--}-->
<!--nav .logo {-->
<!--  display: flex;-->
<!--  align-items: center;-->
<!--  margin: 0 24px;-->
<!--}-->
<!--.logo .menu-icon {-->
<!--  color: #333;-->
<!--  font-size: 24px;-->
<!--  margin-right: 14px;-->
<!--  cursor: pointer;-->
<!--}-->
<!--.logo .logo-name {-->
<!--  color: #333;-->
<!--  font-size: 22px;-->
<!--  font-weight: 500;-->
<!--}-->
<!--nav .sidebar {-->
<!--  position: fixed;-->
<!--  top: 0;-->
<!--  left: -100%;-->
<!--  height: 100%;-->
<!--  width: 260px;-->
<!--  padding: 20px 0;-->
<!--  background-color: #FFFFFF;-->
<!--  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);-->
<!--  transition: all 0.4s ease;-->
<!--}-->
<!--nav.open .sidebar {-->
<!--  left: 0;-->
<!--}-->
<!--.sidebar .sidebar-content {-->
<!--  display: flex;-->
<!--  height: 100%;-->
<!--  flex-direction: column;-->
<!--  justify-content: space-between;-->
<!--  padding: 30px 16px;-->
<!--}-->
<!--.sidebar-content .list {-->
<!--  list-style: none;-->
<!--}-->
<!--.list .nav-link {-->
<!--  display: flex;-->
<!--  align-items: center;-->
<!--  margin: 8px 0;-->
<!--  padding: 14px 12px;-->
<!--  border-radius: 8px;-->
<!--  text-decoration: none;-->
<!--}-->
<!--.lists .nav-link:hover {-->
<!--  background-color: #4070f4;-->
<!--}-->
<!--.nav-link .icon {-->
<!--  margin-right: 14px;-->
<!--  font-size: 20px;-->
<!--  color: #707070;-->
<!--}-->
<!--.nav-link .link {-->
<!--  font-size: 16px;-->
<!--  color: #707070;-->
<!--  font-weight: 400;-->
<!--}-->
<!--.lists .nav-link:hover .icon,-->
<!--.lists .nav-link:hover .link {-->
<!--  color: #fff;-->
<!--}-->
<!--.overlay {-->
<!--  position: fixed;-->
<!--  top: 0;-->
<!--  left: -100%;-->
<!--  height: 1000vh;-->
<!--  width: 200%;-->
<!--  opacity: 0;-->
<!--  pointer-events: none;-->
<!--  transition: all 0.4s ease;-->
<!--  background: rgba(0, 0, 0, 0.3);-->
<!--}-->
<!--nav.open ~ .overlay {-->
<!--  opacity: 1;-->
<!--  left: 260px;-->
<!--  pointer-events: auto;-->
<!--}-->



<!--      </style>-->
<!--     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">-->

<!--<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>-->
<!--        <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>-->
<!--        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">-->

<!--<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>-->
<!--    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">-->


<!--  </head>-->
<!--  <body>-->
<!--    <nav>-->
<!--      <div class="logo">-->
<!--        <i class="bx bx-menu menu-icon"></i>-->
<!--        <span class="logo-name">ADMIN DASHBOARD</span>-->
<!--      </div>-->
<!--      <div class="sidebar">-->
<!--        <div class="logo">-->
<!--          <i class="bx bx-menu menu-icon"></i>-->
<!--          <span class="logo-name">ADMIN DASHBOARD</span>-->
<!--        </div>-->

<!--        <div class="sidebar-content">-->
<!--          <ul class="lists">-->
<!--            <li class="list">-->
<!--              <a href="#" class="nav-link">-->
<!--                <i class="bx bx-home-alt icon"></i>-->
<!--                <span class="link">Dashboard</span>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="list">-->
<!--              <a href="{% url 'test_management' %}" class="nav-link">-->
<!--                <i class="bx bx-bar-chart-alt-2 icon"></i>-->
<!--                <span class="link">Test management</span>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="list">-->
<!--              <a href="{% url 'date_management' %}" class="nav-link">-->
<!--                <i class="bx bx-pie-chart-alt-2 icon"></i>-->
<!--                <span class="link">Date Management</span>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="list">-->
<!--              <a href="{% url 'slot_management' %}" class="nav-link">-->
<!--                <i class="bx bx-bell icon"></i>-->
<!--                <span class="link">Slot management</span>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="list">-->
<!--              <a href="{% url 'cat_management' %}" class="nav-link">-->
<!--                <i class="bx bx-message-rounded icon"></i>-->
<!--                <span class="link">Category management</span>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="list">-->
<!--              <a href="#" class="nav-link">-->
<!--                <i class="bx bx-pie-chart-alt-2 icon"></i>-->
<!--                <span class="link">Feedback Management</span>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="list">-->
<!--              <a href="#" class="nav-link">-->
<!--                <i class="bx bx-heart icon"></i>-->
<!--                <span class="link">Home Bookings</span>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="list">-->
<!--              <a href="#" class="nav-link">-->
<!--                <i class="bx bx-folder-open icon"></i>-->
<!--                <span class="link">Business Report</span>-->
<!--              </a>-->
<!--            </li>-->
<!--               <li class="list">-->
<!--              <a href="#" class="nav-link">-->
<!--                <i class="bx bx-folder-open icon"></i>-->
<!--                <span class="link">View Status</span>-->
<!--              </a>-->
<!--            </li>-->
<!--          </ul>-->

<!--          <div class="bottom-cotent">-->
<!--&lt;!&ndash;            <li class="list">&ndash;&gt;-->
<!--&lt;!&ndash;              <a href="#" class="nav-link">&ndash;&gt;-->
<!--&lt;!&ndash;                <i class="bx bx-cog icon"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                <span class="link">Settings</span>&ndash;&gt;-->
<!--&lt;!&ndash;              </a>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--            <li class="list">-->
<!--              <a href="{% url 'lab_logout' %}" class="nav-link">-->
<!--                <i class="bx bx-log-out icon"></i>-->
<!--                <span class="link">Logout</span>-->
<!--              </a>-->
<!--            </li>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </nav>-->

<!--    <section class="overlay"></section>-->
<!--    {% block content %} {% endblock %}-->

<!--    <script>-->
<!--      const navBar = document.querySelector("nav"),-->
<!--        menuBtns = document.querySelectorAll(".menu-icon"),-->
<!--        overlay = document.querySelector(".overlay");-->

<!--      menuBtns.forEach((menuBtn) => {-->
<!--        menuBtn.addEventListener("click", () => {-->
<!--          navBar.classList.toggle("open");-->
<!--        });-->
<!--      });-->

<!--      overlay.addEventListener("click", () => {-->
<!--        navBar.classList.remove("open");-->
<!--      });-->
<!--    </script>-->
<!--  </body>-->
<!--</html>-->




{% include "admin_header.html" %}

{% include "admin_footer.html" %}
